<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.yyd.intelligentwastebin.mapper.IndentMapper">
    <select id="findByUserName"  resultType="com.yyd.intelligentwastebin.domain.Indent">
      select id ,user_name userName ,product_name productName,account, date from indent where user_name = #{username};
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into indent(user_name,product_name ,account,date) value (#{userName},#{productName},#{account},#{date});
    </insert>

</mapper>